  <!-- <div class="text-layout">
        
      <h1>{{ nombre | uppercase }}</h1>
      <h1>{{ valor | number }}</h1>
      <h1>{{ obj | json }}</h1>

  </div>





  <button
    pButton (click)="mostrarNombre()" 
    label="Cambiar nombre" 
    class="p-button-help"
    icon="pi pi-check"
    iconPos="right">
  </button>

    <p-card [header]="nombre | uppercase" subheader="Bajada">

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Magni tenetur consectetur cum culpa dolores sed fugiat tempore
        ipsum adipisci veniam, molestiae velit optio quos! Praesentium
          delectus soluta dolor mollitia quia?

    </p-card> -->

  <app-menu></app-menu>

  <router-outlet></router-outlet>